<template>
  <div class="navbar fixed flex items-center w-full z-40">
    <AuthGoogleLoginButton v-if="!$store.state.auth.loggedIn" class="ml-auto" />
    <nuxt-link v-else to="/profile" class="ml-auto">
      <div class="ml-auto flex items-center">
        <p class="mr-3">{{ $store.state.auth.user.given_name }}</p>
        <img
          :src="$store.state.auth.user.picture"
          alt="avatar"
          class="navbar-avatar rounded-full"
        />
      </div>
    </nuxt-link>
  </div>
</template>

<style scoped>
.navbar {
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  height: var(--navbar-height);
  color: white;
  background-color: #030303;
}

.navbar-avatar {
  width: 40px;
  height: 40px;
}
</style>
