:root {
  --navbar-height: 60px;
  --min-layout-height: calc(100vh - var(--navbar-height));
}

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.layout {
  margin-top: 60px;
  width: 100%;
  min-height: var(--min-layout-height);
  overflow: hidden;
}
