<template>
  <div class="layout flex flex-col items-center">
    <div class="half-spacing"></div>
    <img
      :src="$store.state.auth.user.picture"
      alt="profile-image"
      class="profile-image rounded-full"
    />
    <p class="mt-5 text-lg font-medium">
      {{ $store.state.auth.user.given_name }} {{ $store.state.auth.user.name }}
    </p>

    <p class="mt-3">
      {{ $store.state.auth.user.email }}
    </p>

    <AuthLogoutButton class="mt-5" />
  </div>
</template>

<style scoped>
.half-spacing {
  height: calc(var(--min-layout-height) / 2);
}

.profile-image {
  width: 100%;
  max-width: 96px;
  height: auto;
  margin-top: -75px;
}
</style>
