<template>
  <div
    class="
      google-login-button
      font-medium
      flex
      items-center
      cursor-pointer
      select-none
      w-full
      h-full
    "
    @click="$auth.loginWith('social')"
  >
    <div class="google-icon flex justify-center items-center h-full">
      <span class="mdi mdi-google text-xl"></span>
    </div>
    <div class="flex-1 justify-center-items-center text-center text-base">
      Sign In
    </div>
  </div>
</template>

<style scoped>
.google-login-button {
  max-width: 150px;
  height: 40px;
  color: #fff;
  font-size: 0.9rem;
  background-color: #ea4335;
  border-radius: 10px;
  overflow: hidden;
}

.google-icon {
  width: 50px;
  background-color: #ad3d32;
}
</style>
