<template>
  <div
    class="logout-button font-medium text-base select-none cursor-pointer"
    @click="logout"
  >
    Sign Out
  </div>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$auth.logout()
    },
  },
}
</script>

<style scoped>
.logout-button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #ea4335;
}
</style>
